async-timeout==5.0.1
cffi==1.17.1
contourpy==1.1.1
cycler==0.12.1
evdev==1.9.2
fonttools==4.57.0
importlib_resources==6.4.5
joblib==1.4.2
kiwisolver==1.4.7
matplotlib==3.7.5
noisereduce==3.0.3
numpy==1.24.4
packaging==25.0
pillow==10.4.0
pkg_resources==0.0.0
PyAudio==0.2.14
pycparser==2.22
pyparsing==3.1.4
python-dateutil==2.9.0.post0
redis==6.1.1
scipy==1.10.1
simpleaudio==1.0.4
six==1.17.0
sounddevice==0.5.2
tqdm==4.67.1
zipp==3.20.2
